test/ssh_cluster/*.json
*.deb
*.gem
*.rbc
*~
.vagrant
.kitchen/
vendor/
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/Gemfile*
test/tmp
test/t?.rb
test/nodes/*.json
test/clients/*.json
test/data_bags/**/*.json
test/version_tmp
tmp
test/.chef/local-mode-cache/
